body {
  background-color: rgb(230, 230, 230);
}

.jumbotron {
  text-align: center;
  background-color: rgb(242, 223, 183);
}

.sidebar {
  background-color: rgb(152, 186, 146);
}

.about {
  padding-left: 5px;
}

.about h4 {
  color: rgb(242, 223, 183);
}

.about h5 {
  color: white;
}
