body {
  background-color: #cccccc;
}

.jumbotron {
  text-align: center;
  background-color: #e9ce7d;
}

.sidebar {
  background-color: #57bf7a;
}

.about {
  padding-left: 5px;
}

.about h4 {
  color: #e9ce7d;
}

.about h5 {
  color: white;
}
